#room
  #desk
    #dealer
      p Street      
      #street
        .hand
        span information
        .bet
      #pot


    #players
      each val in ['Jack', 'Foo', 'Wheeler', 'Amigo', 'Lucy', 'Pedro']
        .player
          p = val
          .hand
          .chips
          .bet
#log--